@font-face {
    font-family: 'Bravo Regular';
    src: url(../font-personalizadas/bavro-regular-webfont.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(../font-personalizadas/Roboto_Regular.ttf);
}

@font-face {
    font-family: 'Roboto Thin';
    src: url(../font-personalizadas/Roboto_Thin.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(../font-personalizadas/Roboto_Bold.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../font-personalizadas/Roboto_Light.ttf);
}

@font-face {
    font-family: 'Roboto Medium';
    src: url(../font-personalizadas/Roboto_Medium.ttf);
}