@import url("fonts.css");

html, body {
    outline: 0 !important;
    position: relative;
    margin: 0 !important;
    height: 100%;
    min-height: 100%;
    background: url('../img/bg_login.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mask{
    background: rgba(0,0,0,0.6); 
}

img{
    /*background-color: #fff;*/
}

.login-container {
    position: relative;
    width: 300px;
    margin: 40px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    border: none;
}

.Absi>h3{
    font-family: 'Roboto Thin';
    color: #fff;
    margin-bottom: 30px;
    font-size: 2.2em;
}

.form-box input {
    width: 100%;
    padding: 10px;
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
    transition: 0.2s ease-in-out;
}

.form-box input:focus {
    outline: 0;
    background: #eee;
}

.form-box input[type="text"] {
    border-radius: 5px 5px 0 0;
}

.form-box input[type="password"] {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login {
    font-family: 'Roboto Medium';
    margin-top: 15px;
    margin-bottom: 15px;
}
