@import url("fonts.css");

html{
    height: 100%;
    overflow: auto;
}

body {
    /*margin-top: 50px;*/
    background-color: #eee; /*#222*/
    overflow-x: hidden;
}

#txtaNumeros{
	width: 500px;
	resize: none;
}

::-webkit-scrollbar {
    width: 0px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0;
    border-radius: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(238, 238, 238, 1.0); /*rgba(255,0,0,0.8); */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}


.main{
    padding: 0 !important;
}

.conteudo{
    padding-left: 15px;
    padding-right: 15px;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}

.breadcrumb {
    width: 100%;
    background-color: white !important;
    border-radius: 0;
    color: #999;
    font-size: 0.8em;
    padding: 10px 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0;
    margin-bottom: 15px;
}

.breadcrumb>li {
    padding: 3px;
}

.breadcrumb>li>a {
    text-decoration: none;
    color: #999;
}

.breadcrumb>li>a:hover {
    text-decoration: none;
    color: #333;
}

label{
	font-family: 'Roboto Regular' !important;
}

label.checkbox-inline{
	font-family: 'Roboto Regular';
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-size: 14px !important;
}

.iconAlert{
	padding: 15px;
}

h5.error, .error{
	font-family: 'Roboto Regular';
	color: red;
}

.input-group .input-group-addon{
	font-family: 'Roboto Bold';
}

.input-group-btn .btn {
    font-size: 14px !important;
}

.margin-input{
	margin-bottom: 20px !important;
}

/* ALERT */
.alertaSucesso, .alertaError, .alertaAviso{
	text-align: left;
	font-family: 'Roboto Regular';
} 

.alertaSucesso h4, .alertaError h4, .alertaAviso h4{
	font-weight: bold;
	font-family: 'Roboto Bold';
}

.alertaSucesso h4{
	color: green;
}

.alertaError h4{
	color: red;
}

.alertaAviso h4{
	color: yellow;
}

/* Side Navigation */
.navbar-inverse {
    background-color: #2e363f;
    border: 0;
    border-left: solid 0.1em #1f262d !important;
    border-bottom: solid 0.1em #1f262d !important;
    border-radius: 0;
    margin: 0;
}

.navbar-nav>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
}

/*      TOP MENU*/
.top-menu{
    margin-right: 5px;
}
ul.top-menu > li > a{
    color: white !important;
}
ul.top-menu > li > a:hover{
    color: #999 !important;
}

/*      MENU LATERAL*/
.side-nav {
    padding: 0;
    display: none;
    background-color: #2e363f;
}
.side-nav>ul>li:first-of-type {
    border-top: solid 0.1em #1f262d !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .175);
    box-shadow: 0 1px 2px rgba(55, 65, 75, 100);
}
.side-nav>ul>li {
    color: white !important;
    border-bottom: solid 0.1em #1f262d !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .175);
    box-shadow: 0 1px 2px rgba(55, 65, 75, 100);
}
.side-nav>ul>li>a>i {
    margin-right: 10px;
}
.side-nav>ul>li>a {
    padding: 12px;
    color: white; /*#939da8*/
    width: auto;
}
.side-nav ul li a:hover, 
.side-nav li a:focus {
    outline: none;
    color: white;
    background-color: #2e363f !important; /*azul: #27a9e3*/
}
.side-nav ul li ul li a:hover, 
.side-nav li ul li as:focus {
    outline: none;
    background-color: #5cb85c !important;
}
.active {
    color: #5cb85c !important;
}
.side-nav > ul > li > ul {
    padding: 0;
}

ul.nav{
	height: auto !important;
}

li.mPai > a > span,
li.mPai > ul > li > a > span:before{ 
    padding-right: 10px !important;
    margin: 0;
}
li.mPai[aria-expanded="true"] > a > span.arrow:before {
    font-family: "Glyphicons Halflings";
    content: "\e253";
    position: relative;
    display: inline;
}
li.mPai[aria-expanded="false"] > a > span.arrow:after {
    font-family: "Glyphicons Halflings";
    content: "\e252";
    position: relative;
    display: none;
}
.side-nav > ul > li > ul > li > a {
    background-color: #1f262d;
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: white; /*#999*/
}
.side-nav>ul>li>ul>li>a:hover {
    color: white;
}
.absi{
    padding: 20px;
}
.absi span{
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: white;
    padding-top: 20px;
    font-size: 1.6em;
    font-family: 'Roboto Thin';
}
.nav-divider {
    height: 1px !important;
    border-top: 1px solid #2e363f;
    margin: 0 !important;
    pointer-events: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

/* Flot Chart Containers */
.flot-chart {
    display: block;
    height: 400px;
}
.flot-chart-content {
    width: 100%;
    height: 100%;
}

/*        Custom Panels        */
.panel-status {
	border-bottom: 1px solid #D9DEE4;
	padding: 0 0 0 20px;
	position: relative;
}

.panel-status:first-of-type{
	padding: 0;
	position: relative;
}

.panel-status:first-of-type:before{
	margin: 0;
	content: none;
	position: relative;
	left: auto;
	height: 0;
	border-left: none;
}

.panel-status:before {
	content: "";
	position: absolute;
	left: 0;
	/*height: 65px;*/
	height: 55px;
	border-left: 2px solid #ADB2B5;
	margin-top: 5px;
}

.panel-status .count_top {
	text-transform: uppercase;
}

.panel-status .count {
	font-size: 30px;
	line-height: 47px;
	font-weight: 600;
}
.panel{
    border-radius: 0;
    color: black;
    font-family: 'Roboto Regular';
    height: 100%;
    background: none;
}
.panel a{
    text-decoration: none;
}
.panel a .panel-heading{
    font-family: 'Roboto Bold';
    background-color: #337ab7;
    border-radius: 0px;
    text-align: left;
    width: 100%;
    color: white;
}

.panel a .panel-heading i{
    float: right;
    font-size: 20px;
}
/*
.panel a .panel-heading i.colapsed::before{
    content: "\f0d8";
}*/

.panel .panel-inner{
    padding: 0px;
}
.panel .panel-inner-small{
    min-height:50px;
    padding: 5px;
}

.panel .title1{
    text-transform: uppercase;
    font-size: 16px;
}
.panel .numbers{
    font-size: 22px;
    font-family: 'Roboto Bold';
}
.panel .panel-inner-small .title1,
.panel .panel-inner-small .numbers{
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
    float: right;
}
.panel .panel-inner-small .mini-icon{
    font-size: 12px;
    text-align: left;
    float: left;
}

.panel-body{
    text-align: left;
    color: black;
}

.page-header{
    font-size: 1.4em;
    margin-top: 10px;
    border-bottom: 0.1em solid #999;
    font-family: 'Roboto Regular';
}

.form-group{
    margin-right: 10px !important;
}

.form-control{
    color: #666 !important;
    font-family: 'Segoe Ui', 'Arial' !important;
}

.btn{
    font-family: 'Roboto Regular' !important;
    font-size: 16px;
}

.divider{
    border-bottom: 1px solid #ddd;
}

::-webkit-input-placeholder { 
    color: #999 !important;
    font-family: 'Roboto Medium' !important;
}
:-moz-placeholder { 
    color: #999 !important;
    opacity:  1;
    font-family: 'Roboto Medium' !important;
}
::-moz-placeholder {
    color: #999 !important;
    opacity:  1;
    font-family: 'Roboto Medium' !important;
}
:-ms-input-placeholder { 
    color: #999 !important;
    font-family: 'Roboto Medium' !important;
}

/*      Cores       */
.panel-laranja{
    background: #E87700;
}
.panel-azul{
    background: #27a9e3;
}
.panel-azul-claro{
    background: #5bc0de;
}
.panel-vermelho{
    background: #c9302c;
}
.panel-verde{
    background: #5cb85c;
}
.panel-branco{
    background: white;
}
.panel-amarelo{
    background: #FFC100;
}

.f-laranja{
    color: #E87700;
}
.f-azul{
    color: #27a9e3;
}
.f-azul-claro{
    color: #73879C;
}
.f-vermelho{
    color: #c9302c;
}
.f-verde{
    color: #5cb85c;
}
.f-branco{
    color: white;
}
.f-amarelo{
    color: #FFC100;
}


/*      Progess Bar     */
.panel-progress{
    color: black;
    font-family: 'Roboto thin';
    font-size: 12px;
    border-radius: 0;
    height: 100%;
    margin-bottom: 20px;
}

.panel-progress label{
	font-family: 'Roboto thin' !important;
	font-size: 14px;
}

.panel-progress .progress {
    height: 10px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0;
}

.panel-progress .percent.badge{
    float: right;
    font-size: 12px;
}

/*       Panel Nivers    */
.panel-nivers .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-nivers .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.panel-nivers .list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto Medium'; 
    font-size: 15px;
    color: black;
}
.panel-nivers .list-group-item:first-child {
    padding: 15px 15px 20px;
}

.panel-nivers .list-group-item i{
    color: #333;
    float: right;
}

.panel-nivers .list-group-item h5{
    font-family: 'Roboto Regular';
    font-size: 14px;
    margin: 0;
}

.panel-nivers .list-group-item .float-right h5:last-of-type{
    font-size: 14px;
    margin-top: 2px;
}

.panel-nivers .list-group-item .panel-margin{
    padding-left: 10px;
}

.panel-nivers .list-group-item .col-xs-12{
	padding-top: 5px;
}

.panel-nivers .list-group-item .col-xs-12:first-of-type{
	padding-top: 0px;
}

/*      TABELA*/

table thead tr th{
	font-family: 'Roboto Medium';
}

table tbody tr td{
	font-family: 'Roboto Regular';
}

table tbody tr td a i.fa-trash{
	color: red !important;
}

.no-records-found, .fixed-table-pagination{
	font-family: 'Segoe Ui' !important;
}

.fixed-table-loading{
	font-family: 'Roboto Medium';
	padding-top: 5px;
}

.edit{
	padding-right: 10px;
}
.pagination{
	padding-right: 10px !important;
}

.pagination-info{
	padding-left: 10px !important;
}

/*           TAB          */

#tab-locacao-item .nav-pills li a{
	background-color: #2e363f;
	color: white;
	font-weight: bold;
}

#tab-locacao-item .nav-pills li a:hover{
	background-color: none !important;
}

.tab-content label{
	color: black !important;
}

.tab-content .tabname{
	font-family: "Roboto Bold";
	color: black !important;
}
/* ---------------- DATEPICKER*/
.datepicker-days > .table-condensed > tbody > tr > td.focused
.datepicker-months > .table-condensed > tbody > tr > td > .focused{
	color: #999 !important;
}
.datepicker-days > .table-condensed > tbody > tr > td.active,
.datepicker-months > .table-condensed > tbody > tr > td > .active{
	color: white !important;
}
.datepicker-days > .table-condensed > tbody > tr > td.active{
	background: #E87700;
}

.datepicker-days > .table-condensed > tbody > tr > td.active:hover,
.datepicker-months > .table-condensed > tbody > tr > td > .active:hover{
	background: #2e363f !important;
}
/* ---------------- */
#item-gerar-conta{
	font-family: 'Roboto Regular' !important;
}

@media (min-width: 768px) {
    .side-nav {
        height: 100%;
        font-size: 0.85em;
        position: fixed;
        top: 0; /*50px*/
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        border: none;
        border-radius: 0;
        overflow-x: hidden;
        overflow-y: auto; 
    }
}

@media screen and (max-width: 768px) {
    .top-nav {
        padding: 0 !important;
        border-top: 0.1em solid #1f262d;
    }
}


